<% page.posts.each(function(post){ %>
    <%- partial('article_index', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; 上一页',
        next_text: '下一页 &raquo;'
      }) %>
    </nav>
  <% } %>